camptc jpgfile camptc.jpg
searclo exefile searclo.exe
alarm1 mp3file alarm1.mp3
zcjs txtfile zcjs.txt
regwrongtab txtfile regwrongtab.txt
redallin jpgfile xgt\red\redallin.jpg
redcancel jpgfile xgt\red\redcancel.jpg
redok jpgfile xgt\red\redok.jpg
redreset jpgfile xgt\red\redreset.jpg
redsave jpgfile xgt\red\redsave.jpg
redsavebmp jpgfile xgt\red\redsavebmp.jpg
redstart jpgfile xgt\red\redstart.jpg
redstop jpgfile xgt\red\redstop.jpg
redspgetbmpsta jpgfile xgt\red\redspgetbmpsta.jpg
redspgetbmpstop jpgfile xgt\red\redspgetbmpstop.jpg
redgetreg jpgfile xgt\red\redgetreg.jpg
grayallin jpgfile xgt\gray\grayallin.jpg
graycancel jpgfile xgt\gray\graycancel.jpg
grayok jpgfile xgt\gray\grayok.jpg
grayreset jpgfile xgt\gray\grayreset.jpg
graysave jpgfile xgt\gray\graysave.jpg
graysavebmp jpgfile xgt\gray\graysavebmp.jpg
graystart jpgfile xgt\gray\graystart.jpg
graystop jpgfile xgt\gray\graystop.jpg
grayspgetbmpsta jpgfile xgt\gray\grayspgetbmpsta.jpg
grayspgetbmpstop jpgfile xgt\gray\grayspgetbmpstop.jpg
graygetreg jpgfile xgt\gray\graygetreg.jpg
greenallin jpgfile xgt\green\greenallin.jpg
greencancel jpgfile xgt\green\greencancel.jpg
greenok jpgfile xgt\green\greenok.jpg
greenreset jpgfile xgt\green\greenreset.jpg
greensave jpgfile xgt\green\greensave.jpg
greensavebmp jpgfile xgt\green\greensavebmp.jpg
greenstart jpgfile xgt\green\greenstart.jpg
greenstop jpgfile xgt\green\greenstop.jpg
greenspgetbmpsta jpgfile xgt\green\greenspgetbmpsta.jpg
greenspgetbmpstop jpgfile xgt\green\greenspgetbmpstop.jpg
greengetreg jpgfile xgt\green\greengetreg.jpg
blueallin jpgfile xgt\blue\blueallin.jpg
bluecancel jpgfile xgt\blue\bluecancel.jpg
blueok jpgfile xgt\blue\blueok.jpg
bluereset jpgfile xgt\blue\bluereset.jpg
bluesave jpgfile xgt\blue\bluesave.jpg
bluesavebmp jpgfile xgt\blue\bluesavebmp.jpg
bluestart jpgfile xgt\blue\bluestart.jpg
bluestop jpgfile xgt\blue\bluestop.jpg
bluespgetbmpsta jpgfile xgt\blue\bluespgetbmpsta.jpg
bluespgetbmpstop jpgfile xgt\blue\bluespgetbmpstop.jpg
bluegetreg jpgfile xgt\blue\bluegetreg.jpg